# Idea
.idea
# package directories
node_modules
# Serverless directories
dist
tsconfig.tsbuildinfo

.env.prod
.env.dev
.env
packages/uxp-ui/.htpasswd
packages/uxp-bff/build_types
.history
