# Idea
.idea
.vscode
# package directories
node_modules
package-lock.json

/out/*
!/out/docs/
# Serverless directories
dist
tsconfig.tsbuildinfo
/uploads/
/workspaces/
.env.prod
.env.dev
.env
packages/uxp-ui/.htpasswd
packages/uxp-bff/build_types
.history
build_types
packages/uxp-bff/src/db/private-migrations/

mosquitto/data/
mosquitto/log/
uhn-rule-engine-architecture.md
/public/static/libs