# Idea
.idea
# package directories
node_modules
package-lock.json

# Serverless directories
dist
tsconfig.tsbuildinfo
uploads
.env.prod
.env.dev
.env
packages/uxp-ui/.htpasswd
packages/uxp-bff/build_types
.history
build_types
packages/uxp-bff/src/db/private-migrations/

mosquitto/data/
mosquitto/log/